name: main
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', 'pypy-3.11']
        exclude:
          # NOTE: pynacl should not be built from sdist, but it has no binary
          # wheel available for windows+pypy
          - os: windows-latest
            python-version: 'pypy-3.11'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
        if: matrix.os == 'windows-latest'
      - run: pip install --upgrade tox
      - run: tox -v -e py

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'  # FIXME: experiencing fatal error (astroid-error) on py3.12.0
      - run: pip install --upgrade tox
      - run: tox -v -e lint

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - run: pip install --upgrade tox
      - run: tox -v -e eslint

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip install --upgrade tox
      - run: tox -v -e docs

  publish:
    needs: [test, lint, eslint, docs]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip install --upgrade tox
      - run: tox -v -e build
      - uses: pypa/gh-action-pypi-publish@release/v1
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags') && github.repository == 'renatahodovan/fuzzinator'
        with:
          password: ${{ secrets.pypi_token }}
          packages_dir: .tox/build/tmp/
